.name-card {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-width: 0 !important;
}

.answer-section-button-wrapper {
  margin-top: 1em;
  margin-bottom: 1em;

  @mixin dark {
    background-color: var(--mantine-color-dark-8);
  }
}