.navbar {
  height: 4.5rem;
  box-shadow: var(--mantine-shadow-sm);
}

.logo {
  height: 3rem;
  padding-right: 1rem;
  padding-left: 0.25rem;
  filter: brightness(0) invert(1);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 100%;
  background-color: rgba(0, 102, 37, 1);
}

.title {
  text-decoration: none;
  width: 20rem;
  color: var(--mantine-color-white);
  font-weight: 400;
  font-size: 2rem;
}
