.navbar {
  min-height: 3.5rem;
  color: var(--mantine-color-white);
  width: 100%;
  box-shadow: var(--mantine-shadow-sm);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navItem {
  color: var(--mantine-color-white);
}

.logoLine {
  padding: 0.75rem 0;
}

.logo {
  height: 2rem;
  padding-right: 1.25rem;
  filter: brightness(0) invert(1);
}

.title {
  font-weight: 400;
  font-size: 1.25rem;
}

.separator {
  width: 3.152rem;
  border: 0.5px solid white;
}

.verticalSeparator {
  height: 1.25rem;
  border: 0.5px solid white;
}

.mobileLanguage {
  text-transform: uppercase;
  cursor: pointer;
}

.moreItem {
  color: white;
}
